#ContentServicePageControl_Login1 {
  top: 15px;
  position: absolute;
}

#ContentServicePageControl_Login1 {
  left: 15px;
  position: absolute;
}

#ContentServicePageControl_Login1 {
  width: 405px;
}

#ContentServicePageControl_Login1 {
  height: 150px;
}

#ContentServicePageControl_Login1 {
  z-index: 0;
}

#ContentServicePageControl_GroupBox1 {
  width: 200px;
}

#ContentServicePageControl_GroupBox1 {
  height: 150px;
}

#ContentServicePageControl_GroupBox1 {
  top: 15px;
  position: absolute;
}

#ContentServicePageControl_GroupBox1 {
  left: 553px;
  position: absolute;
}

#ContentServicePageControl_GroupBox1 {
  z-index: 1;
}

#ContentServicePageControl_GroupBox1 > .header span {
  color: #404040;
}

#ContentServicePageControl_GroupBox1 > .header span {
  font-weight: bold;
}

#ContentServicePageControl_MeasurementSystemSelector1 {
  top: 15px;
  position: absolute;
}

#ContentServicePageControl_MeasurementSystemSelector1 {
  left: 18px;
  position: absolute;
}

#ContentServicePageControl_MeasurementSystemSelector1.DropDownBoxView {
  width: 165px;
}

#ContentServicePageControl_MeasurementSystemSelector1.DropDownBoxView {
  height: 75px;
}

#ContentServicePageControl_MeasurementSystemSelector1 {
  z-index: 0;
}

#ContentServicePageControl_GroupBox2 {
  width: 200px;
}

#ContentServicePageControl_GroupBox2 {
  height: 150px;
}

#ContentServicePageControl_GroupBox2 {
  top: 15px;
  position: absolute;
}

#ContentServicePageControl_GroupBox2 {
  left: 885px;
  position: absolute;
}

#ContentServicePageControl_GroupBox2 {
  z-index: 2;
}

#ContentServicePageControl_GroupBox2 > .header span {
  color: #404040;
}

#ContentServicePageControl_GroupBox2 > .header span {
  font-weight: bold;
}

#ContentServicePageControl_LanguageSelector1 {
  top: 15px;
  position: absolute;
}

#ContentServicePageControl_LanguageSelector1 {
  left: 25px;
  position: absolute;
}

#ContentServicePageControl_LanguageSelector1.DropDownBoxView {
  width: 150px;
}

#ContentServicePageControl_LanguageSelector1.DropDownBoxView {
  height: 75px;
}

#ContentServicePageControl_LanguageSelector1 {
  z-index: 0;
}

#ContentServicePageControl_OnlineChartHDA1 {
  width: 720px;
}

#ContentServicePageControl_OnlineChartHDA1 {
  top: 180px;
  position: absolute;
}

#ContentServicePageControl_OnlineChartHDA1 {
  left: 15px;
  position: absolute;
}

#ContentServicePageControl_OnlineChartHDA1 {
  height: 405px;
}

#ContentServicePageControl_OnlineChartHDA1 {
  z-index: 3;
}

#ContentServicePageControl_OnlineChartHDA1 {
  background-color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1 .chartColor {
  background-color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1 .chartColor {
  color: #e0e0e0;
}

#ContentServicePageControl_OnlineChartHDA1 .disabledChartColor {
  color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1_yAxis_yAxis1 .disabledyAxisTextColor {
  color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1_yAxis_yAxis1 .yAxisColor {
  color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1_yAxis_yAxis1 .gridYAxisColor {
  color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1_xAxis_xAxis1 .gridXAxisColor {
  color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1_xAxis_xAxis1 .xAxisTickColor {
  color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1_xAxis_xAxis1 .disabledxAxisTextColor {
  color: #404040;
}

#ContentServicePageControl_OnlineChartHDA1_graph_ZB2Level .lineColor {
  color: red;
}

#ContentServicePageControl_OnlineChartHDA1_graph_graph1 .lineColor {
  color: #00c000;
}
