#ContentAlarmPageControl_AlarmList1 {
  top: 15px;
  position: absolute;
}

#ContentAlarmPageControl_AlarmList1 {
  left: 15px;
  position: absolute;
}

#ContentAlarmPageControl_AlarmList1 {
  width: 1095px;
}

#ContentAlarmPageControl_AlarmList1 {
  height: 480px;
}

#ContentAlarmPageControl_AlarmList1 {
  z-index: 0;
}

#ContentAlarmPageControl_AlarmListItem1 {
  width: 200px;
}

#ContentAlarmPageControl_AlarmListItem1 {
  z-index: 0;
}

#ContentAlarmPageControl_AlarmListItem2 {
  width: 200px;
}

#ContentAlarmPageControl_AlarmListItem2 {
  z-index: 1;
}

#ContentAlarmPageControl_AlarmListItem3 {
  width: 345px;
}

#ContentAlarmPageControl_AlarmListItem3 {
  z-index: 2;
}

#ContentAlarmPageControl_AlarmListItem4 {
  width: 200px;
}

#ContentAlarmPageControl_AlarmListItem4 {
  z-index: 3;
}

#ContentAlarmPageControl_AlarmListItem5 {
  width: 150px;
}

#ContentAlarmPageControl_AlarmListItem5 {
  z-index: 4;
}

#ContentAlarmPageControl_Button1 {
  height: 30px;
}

#ContentAlarmPageControl_Button1 {
  top: 525px;
  position: absolute;
}

#ContentAlarmPageControl_Button1 {
  left: 720px;
  position: absolute;
}

#ContentAlarmPageControl_Button1 {
  width: 180px;
}

#ContentAlarmPageControl_Button1 {
  z-index: 1;
}

#ContentAlarmPageControl_Button2 {
  height: 30px;
}

#ContentAlarmPageControl_Button2 {
  top: 525px;
  position: absolute;
}

#ContentAlarmPageControl_Button2 {
  left: 930px;
  position: absolute;
}

#ContentAlarmPageControl_Button2 {
  width: 180px;
}

#ContentAlarmPageControl_Button2 {
  z-index: 2;
}
