#ContentLoginDialog_Login1 {
  top: 60px;
  position: absolute;
}

#ContentLoginDialog_Login1 {
  left: 0px;
  position: absolute;
}

#ContentLoginDialog_Login1 {
  width: 390px;
}

#ContentLoginDialog_Login1 {
  height: 195px;
}

#ContentLoginDialog_Login1 {
  z-index: 0;
}
