@import "mixins.scss";
#ContentServicePageControl_Login1 {
	@include elemTop(15);
}
#ContentServicePageControl_Login1 {
	@include elemLeft(15);
}
#ContentServicePageControl_Login1 {
	@include elemWidth(405);
}
#ContentServicePageControl_Login1 {
	@include elemHeight(150);
}
#ContentServicePageControl_Login1 {
		z-index: 0;
}
#ContentServicePageControl_GroupBox1 {
	@include elemWidth(200);
}
#ContentServicePageControl_GroupBox1 {
	@include elemHeight(150);
}
#ContentServicePageControl_GroupBox1 {
	@include elemTop(15);
}
#ContentServicePageControl_GroupBox1 {
	@include elemLeft(553);
}
#ContentServicePageControl_GroupBox1 {
		z-index: 1;
}
#ContentServicePageControl_GroupBox1 {
	> .header span{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_GroupBox1 {
	> .header span{
	@include font-weight-bold(true);
	}
}
#ContentServicePageControl_MeasurementSystemSelector1 {
	@include elemTop(15);
}
#ContentServicePageControl_MeasurementSystemSelector1 {
	@include elemLeft(18);
}
#ContentServicePageControl_MeasurementSystemSelector1 {
	&.DropDownBoxView{
	@include elemWidth(165);
	}
}
#ContentServicePageControl_MeasurementSystemSelector1 {
	&.DropDownBoxView{
	@include elemHeight(75);
	}
}
#ContentServicePageControl_MeasurementSystemSelector1 {
		z-index: 0;
}
#ContentServicePageControl_GroupBox2 {
	@include elemWidth(200);
}
#ContentServicePageControl_GroupBox2 {
	@include elemHeight(150);
}
#ContentServicePageControl_GroupBox2 {
	@include elemTop(15);
}
#ContentServicePageControl_GroupBox2 {
	@include elemLeft(885);
}
#ContentServicePageControl_GroupBox2 {
		z-index: 2;
}
#ContentServicePageControl_GroupBox2 {
	> .header span{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_GroupBox2 {
	> .header span{
	@include font-weight-bold(true);
	}
}
#ContentServicePageControl_LanguageSelector1 {
	@include elemTop(15);
}
#ContentServicePageControl_LanguageSelector1 {
	@include elemLeft(25);
}
#ContentServicePageControl_LanguageSelector1 {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentServicePageControl_LanguageSelector1 {
	&.DropDownBoxView{
	@include elemHeight(75);
	}
}
#ContentServicePageControl_LanguageSelector1 {
		z-index: 0;
}
#ContentServicePageControl_OnlineChartHDA1 {
	@include elemWidth(720);
}
#ContentServicePageControl_OnlineChartHDA1 {
	@include elemTop(180);
}
#ContentServicePageControl_OnlineChartHDA1 {
	@include elemLeft(15);
}
#ContentServicePageControl_OnlineChartHDA1 {
	@include elemHeight(405);
}
#ContentServicePageControl_OnlineChartHDA1 {
		z-index: 3;
}
#ContentServicePageControl_OnlineChartHDA1 {
		background-color: rgba(64, 64, 64, 1);
}
#ContentServicePageControl_OnlineChartHDA1 {
	& .chartColor{
		background-color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1 {
	& .chartColor{
		color: rgba(224, 224, 224, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1 {
	& .disabledChartColor{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1_yAxis_yAxis1 {
	& .disabledyAxisTextColor{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1_yAxis_yAxis1 {
	& .yAxisColor{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1_yAxis_yAxis1 {
	& .gridYAxisColor{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1_xAxis_xAxis1 {
	& .gridXAxisColor{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1_xAxis_xAxis1 {
	& .xAxisTickColor{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1_xAxis_xAxis1 {
	& .disabledxAxisTextColor{
		color: rgba(64, 64, 64, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1_graph_ZB2Level {
	& .lineColor{
		color: rgba(255, 0, 0, 1);
	}
}
#ContentServicePageControl_OnlineChartHDA1_graph_graph1 {
	& .lineColor{
		color: rgba(0, 192, 0, 1);
	}
}
