#ContentManualDialog_ToggleSwitch1 {
  height: 30px;
}

#ContentManualDialog_ToggleSwitch1 {
  top: 60px;
  position: absolute;
}

#ContentManualDialog_ToggleSwitch1 {
  left: 90px;
  position: absolute;
}

#ContentManualDialog_ToggleSwitch1 {
  width: 420px;
}

#ContentManualDialog_ToggleSwitch1 {
  z-index: 0;
}

#ContentManualDialog_ToggleSwitch1 .wrapper .before {
  font-weight: bold;
}

#ContentManualDialog_ToggleSwitch1 .wrapper .after {
  font-weight: bold;
}

#ContentManualDialog_Label1 {
  height: 30px;
}

#ContentManualDialog_Label1 {
  top: 15px;
  position: absolute;
}

#ContentManualDialog_Label1 {
  left: 90px;
  position: absolute;
}

#ContentManualDialog_Label1 {
  width: 420px;
}

#ContentManualDialog_Label1 {
  z-index: 1;
}

#ContentManualDialog_Label1 span {
  color: #404040;
}

#ContentManualDialog_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#ContentManualDialog_Label1 {
  font-size: 20px;
}

#ContentManualDialog_Label1 {
  font-weight: bold;
}

#ContentManualDialog_ToggleSwitchZB2 {
  height: 30px;
}

#ContentManualDialog_ToggleSwitchZB2 {
  top: 105px;
  position: absolute;
}

#ContentManualDialog_ToggleSwitchZB2 {
  left: 90px;
  position: absolute;
}

#ContentManualDialog_ToggleSwitchZB2 {
  width: 420px;
}

#ContentManualDialog_ToggleSwitchZB2 {
  z-index: 2;
}

#ContentManualDialog_ToggleSwitchZB2 .wrapper .before {
  font-weight: bold;
}

#ContentManualDialog_ToggleSwitchZB2 .wrapper .after {
  font-weight: bold;
}

#ContentManualDialog_ToggleSwitchZB3Main {
  height: 30px;
}

#ContentManualDialog_ToggleSwitchZB3Main {
  top: 150px;
  position: absolute;
}

#ContentManualDialog_ToggleSwitchZB3Main {
  left: 90px;
  position: absolute;
}

#ContentManualDialog_ToggleSwitchZB3Main {
  width: 420px;
}

#ContentManualDialog_ToggleSwitchZB3Main {
  z-index: 3;
}

#ContentManualDialog_ToggleSwitchZB3Main .wrapper .before {
  font-weight: bold;
}

#ContentManualDialog_ToggleSwitchZB3Main .wrapper .after {
  font-weight: bold;
}

#ContentManualDialog_NumericInput1 {
  height: 30px;
}

#ContentManualDialog_NumericInput1 {
  top: 315px;
  position: absolute;
}

#ContentManualDialog_NumericInput1 {
  left: 315px;
  position: absolute;
}

#ContentManualDialog_NumericInput1 {
  width: 190px;
}

#ContentManualDialog_NumericInput1 {
  z-index: 4;
}

#ContentManualDialog_NumericInput1 input {
  justify-content: center;
  text-align: center;
}

#ContentManualDialog_NumericInput2 {
  height: 30px;
}

#ContentManualDialog_NumericInput2 {
  top: 270px;
  position: absolute;
}

#ContentManualDialog_NumericInput2 {
  left: 315px;
  position: absolute;
}

#ContentManualDialog_NumericInput2 {
  width: 190px;
}

#ContentManualDialog_NumericInput2 {
  z-index: 5;
}

#ContentManualDialog_NumericInput2 input {
  justify-content: center;
  text-align: center;
}

#ContentManualDialog_Label2 {
  height: 30px;
}

#ContentManualDialog_Label2 {
  top: 270px;
  position: absolute;
}

#ContentManualDialog_Label2 {
  left: 90px;
  position: absolute;
}

#ContentManualDialog_Label2 {
  width: 165px;
}

#ContentManualDialog_Label2 {
  z-index: 6;
}

#ContentManualDialog_Label2 span {
  color: #404040;
}

#ContentManualDialog_Label2 {
  font-size: 18px;
}

#ContentManualDialog_Label2 {
  font-weight: bold;
}

#ContentManualDialog_Label3 {
  height: 30px;
}

#ContentManualDialog_Label3 {
  top: 315px;
  position: absolute;
}

#ContentManualDialog_Label3 {
  left: 90px;
  position: absolute;
}

#ContentManualDialog_Label3 {
  width: 165px;
}

#ContentManualDialog_Label3 {
  z-index: 7;
}

#ContentManualDialog_Label3 span {
  color: #404040;
}

#ContentManualDialog_Label3 {
  font-size: 18px;
}

#ContentManualDialog_Label3 {
  font-weight: bold;
}

#ContentManualDialog_ToggleSwitch2 {
  height: 30px;
}

#ContentManualDialog_ToggleSwitch2 {
  top: 195px;
  position: absolute;
}

#ContentManualDialog_ToggleSwitch2 {
  left: 90px;
  position: absolute;
}

#ContentManualDialog_ToggleSwitch2 {
  width: 420px;
}

#ContentManualDialog_ToggleSwitch2 {
  z-index: 8;
}

#ContentManualDialog_ToggleSwitch2 .wrapper .before {
  font-weight: bold;
}

#ContentManualDialog_ToggleSwitch2 .wrapper .after {
  font-weight: bold;
}

#ContentManualDialog_Line1 {
  z-index: 9;
}
