#MainPageContent_ProgressBarTank1 {
  top: 120px;
  position: absolute;
}

#MainPageContent_ProgressBarTank1 {
  left: 80px;
  position: absolute;
}

#MainPageContent_ProgressBarTank1 {
  width: 240px;
}

#MainPageContent_ProgressBarTank1 {
  height: 220px;
}

#MainPageContent_ProgressBarTank1 {
  z-index: 6;
}

#MainPageContent_ProgressBarTank1 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank1 .pb-bar-container {
  border-width: 0px;
}

#MainPageContent_ProgressBarTank1 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank1 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank1 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank1 .pb-outer-area {
  border-width: 0px;
}

#MainPageContent_ProgressBarTank1 {
  border-radius: 4px;
}

#MainPageContent_ProgressBarTank1 .pb-outer-area {
  border-radius: 4px;
}

#MainPageContent_ProgressBarTank1 .pb-label-text {
  font-size: 18px;
}

#MainPageContent_ProgressBarTank1 .pb-label-text {
  font-weight: bold;
}

#MainPageContent_ProgressBarTank2 {
  top: 120px;
  position: absolute;
}

#MainPageContent_ProgressBarTank2 {
  left: 420px;
  position: absolute;
}

#MainPageContent_ProgressBarTank2 {
  width: 240px;
}

#MainPageContent_ProgressBarTank2 {
  height: 220px;
}

#MainPageContent_ProgressBarTank2 {
  z-index: 1;
}

#MainPageContent_ProgressBarTank2 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank2 .pb-bar-container {
  border-width: 2px;
}

#MainPageContent_ProgressBarTank2 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank2 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank2 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank2 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank2 .pb-outer-area {
  border-width: 2px;
}

#MainPageContent_ProgressBarTank2 {
  border-radius: 4px;
}

#MainPageContent_ProgressBarTank2 .pb-outer-area {
  border-radius: 4px;
}

#MainPageContent_ProgressBarTank2 .pb-label-text {
  font-size: 18px;
}

#MainPageContent_ProgressBarTank2 .pb-label-text {
  font-weight: bold;
}

#MainPageContent_ProgressBarTank3 {
  top: 513px;
  position: absolute;
}

#MainPageContent_ProgressBarTank3 {
  left: 220px;
  position: absolute;
}

#MainPageContent_ProgressBarTank3 {
  width: 300px;
}

#MainPageContent_ProgressBarTank3 {
  height: 240px;
}

#MainPageContent_ProgressBarTank3 {
  z-index: 2;
}

#MainPageContent_ProgressBarTank3 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank3 .pb-bar-container {
  border-width: 2px;
}

#MainPageContent_ProgressBarTank3 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank3 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank3 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank3 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank3 .pb-outer-area {
  border-width: 2px;
}

#MainPageContent_ProgressBarTank3 {
  border-radius: 4px;
}

#MainPageContent_ProgressBarTank3 .pb-outer-area {
  border-radius: 4px;
}

#MainPageContent_ProgressBarTank3 .pb-label-text {
  font-size: 18px;
}

#MainPageContent_ProgressBarTank3 .pb-label-text {
  font-weight: bold;
}

#MainPageContent_PrgBarTank1Left2 {
  top: 400px;
  position: absolute;
}

#MainPageContent_PrgBarTank1Left2 {
  left: 140px;
  position: absolute;
}

#MainPageContent_PrgBarTank1Left2 {
  width: 24px;
}

#MainPageContent_PrgBarTank1Left2 {
  height: 24px;
}

#MainPageContent_PrgBarTank1Left2 {
  z-index: 3;
}

#MainPageContent_PrgBarTank1Left2 .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank1Left2 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank1Left2 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left2 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_PrgBarTank1Left2 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank1Left2 .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank1Left2 {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left2 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left1 {
  top: 339px;
  position: absolute;
}

#MainPageContent_PrgBarTank1Left1 {
  left: 120px;
  position: absolute;
}

#MainPageContent_PrgBarTank1Left1 {
  width: 24px;
}

#MainPageContent_PrgBarTank1Left1 {
  height: 85px;
}

#MainPageContent_PrgBarTank1Left1 {
  z-index: 4;
}

#MainPageContent_PrgBarTank1Left1 .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank1Left1 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank1Left1 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left1 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_PrgBarTank1Left1 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank1Left1 .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank1Left1 {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left1 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left4 {
  top: 400px;
  position: absolute;
}

#MainPageContent_PrgBarTank1Left4 {
  left: 300px;
  position: absolute;
}

#MainPageContent_PrgBarTank1Left4 {
  width: 24px;
}

#MainPageContent_PrgBarTank1Left4 {
  height: 115px;
}

#MainPageContent_PrgBarTank1Left4 {
  z-index: 5;
}

#MainPageContent_PrgBarTank1Left4 .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank1Left4 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank1Left4 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left4 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_PrgBarTank1Left4 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank1Left4 .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank1Left4 {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left4 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_Line1 {
  z-index: 7;
}

#MainPageContent_Line1 line {
  stroke-width: 3px;
}

#MainPageContent_Line2 {
  z-index: 8;
}

#MainPageContent_Line2 line {
  stroke-width: 3px;
}

#MainPageContent_Line3 {
  z-index: 9;
}

#MainPageContent_Line3 line {
  stroke-width: 3px;
}

#MainPageContent_Line4 {
  z-index: 10;
}

#MainPageContent_Line4 line {
  stroke-width: 3px;
}

#MainPageContent_Line5 {
  z-index: 11;
}

#MainPageContent_Line5 line {
  stroke-width: 3px;
}

#MainPageContent_Line6 {
  z-index: 12;
}

#MainPageContent_Line6 line {
  stroke-width: 3px;
}

#MainPageContent_Line7 {
  z-index: 13;
}

#MainPageContent_Line7 line {
  stroke-width: 3px;
}

#MainPageContent_Line8 {
  z-index: 14;
}

#MainPageContent_Line8 line {
  stroke-width: 3px;
}

#MainPageContent_ProgressBarTank2Top1 {
  height: 25px;
}

#MainPageContent_ProgressBarTank2Top1 {
  top: 0px;
  position: absolute;
}

#MainPageContent_ProgressBarTank2Top1 {
  left: 460px;
  position: absolute;
}

#MainPageContent_ProgressBarTank2Top1 {
  width: 24px;
}

#MainPageContent_ProgressBarTank2Top1 {
  z-index: 15;
}

#MainPageContent_ProgressBarTank2Top1 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank2Top1 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_ProgressBarTank2Top1 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank2Top1 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank2Top1 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank2Top1 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank2Top1 {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank2Top1 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right1 {
  top: 339px;
  position: absolute;
}

#MainPageContent_PrgBarTank2Right1 {
  left: 600px;
  position: absolute;
}

#MainPageContent_PrgBarTank2Right1 {
  width: 24px;
}

#MainPageContent_PrgBarTank2Right1 {
  height: 85px;
}

#MainPageContent_PrgBarTank2Right1 {
  z-index: 16;
}

#MainPageContent_PrgBarTank2Right1 .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank2Right1 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank2Right1 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right1 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_PrgBarTank2Right1 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank2Right1 .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank2Right1 {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right1 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right3 {
  top: 400px;
  position: absolute;
}

#MainPageContent_PrgBarTank2Right3 {
  left: 420px;
  position: absolute;
}

#MainPageContent_PrgBarTank2Right3 {
  width: 60px;
}

#MainPageContent_PrgBarTank2Right3 {
  height: 24px;
}

#MainPageContent_PrgBarTank2Right3 {
  z-index: 17;
}

#MainPageContent_PrgBarTank2Right3 .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank2Right3 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank2Right3 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right3 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_PrgBarTank2Right3 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank2Right3 .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank2Right3 {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right3 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right4 {
  top: 420px;
  position: absolute;
}

#MainPageContent_PrgBarTank2Right4 {
  left: 420px;
  position: absolute;
}

#MainPageContent_PrgBarTank2Right4 {
  width: 24px;
}

#MainPageContent_PrgBarTank2Right4 {
  height: 94px;
}

#MainPageContent_PrgBarTank2Right4 {
  z-index: 18;
}

#MainPageContent_PrgBarTank2Right4 .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank2Right4 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank2Right4 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right4 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_PrgBarTank2Right4 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank2Right4 .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank2Right4 {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right4 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1Top1 {
  height: 25px;
}

#MainPageContent_ProgressBarTank1Top1 {
  top: 0px;
  position: absolute;
}

#MainPageContent_ProgressBarTank1Top1 {
  left: 260px;
  position: absolute;
}

#MainPageContent_ProgressBarTank1Top1 {
  width: 24px;
}

#MainPageContent_ProgressBarTank1Top1 {
  z-index: 19;
}

#MainPageContent_ProgressBarTank1Top1 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank1Top1 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_ProgressBarTank1Top1 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1Top1 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank1Top1 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank1Top1 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank1Top1 {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1Top1 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_Line9 {
  z-index: 20;
}

#MainPageContent_Line9 line {
  stroke-width: 3px;
}

#MainPageContent_Line10 {
  z-index: 21;
}

#MainPageContent_Line10 line {
  stroke-width: 3px;
}

#MainPageContent_Line11 {
  z-index: 22;
}

#MainPageContent_Line11 line {
  stroke-width: 3px;
}

#MainPageContent_Line12 {
  z-index: 23;
}

#MainPageContent_Line12 line {
  stroke-width: 3px;
}

#MainPageContent_Line13 {
  z-index: 24;
}

#MainPageContent_Line13 line {
  stroke-width: 3px;
}

#MainPageContent_Line14 {
  z-index: 25;
}

#MainPageContent_Line14 line {
  stroke-width: 3px;
}

#MainPageContent_Line15 {
  z-index: 26;
}

#MainPageContent_Line15 line {
  stroke-width: 3px;
}

#MainPageContent_Line16 {
  z-index: 27;
}

#MainPageContent_Line16 line {
  stroke-width: 3px;
}

#MainPageContent_Line17 {
  z-index: 28;
}

#MainPageContent_Line17 line {
  stroke-width: 3px;
}

#MainPageContent_Line18 {
  z-index: 29;
}

#MainPageContent_Line18 line {
  stroke-width: 3px;
}

#MainPageContent_Line19 {
  z-index: 30;
}

#MainPageContent_Line19 line {
  stroke-width: 3px;
}

#MainPageContent_Line20 {
  z-index: 31;
}

#MainPageContent_Line20 line {
  stroke-width: 3px;
}

#MainPageContent_Line21 {
  z-index: 32;
}

#MainPageContent_Line21 line {
  stroke-width: 3px;
}

#MainPageContent_PrgBarTank3Right {
  top: 513px;
  position: absolute;
}

#MainPageContent_PrgBarTank3Right {
  left: 420px;
  position: absolute;
}

#MainPageContent_PrgBarTank3Right {
  width: 24px;
}

#MainPageContent_PrgBarTank3Right {
  height: 238px;
}

#MainPageContent_PrgBarTank3Right {
  z-index: 33;
}

#MainPageContent_PrgBarTank3Right .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank3Right .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank3Right .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank3Right .pb-bar-container {
  background-color: silver;
}

#MainPageContent_PrgBarTank3Right .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank3Right .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank3Right {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank3Right .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank3Left {
  top: 513px;
  position: absolute;
}

#MainPageContent_PrgBarTank3Left {
  left: 300px;
  position: absolute;
}

#MainPageContent_PrgBarTank3Left {
  width: 24px;
}

#MainPageContent_PrgBarTank3Left {
  height: 238px;
}

#MainPageContent_PrgBarTank3Left {
  z-index: 34;
}

#MainPageContent_PrgBarTank3Left .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank3Left .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank3Left .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank3Left .pb-bar-container {
  background-color: silver;
}

#MainPageContent_PrgBarTank3Left .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank3Left .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank3Left {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank3Left .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1Inside {
  top: 120px;
  position: absolute;
}

#MainPageContent_ProgressBarTank1Inside {
  left: 260px;
  position: absolute;
}

#MainPageContent_ProgressBarTank1Inside {
  width: 24px;
}

#MainPageContent_ProgressBarTank1Inside {
  height: 218px;
}

#MainPageContent_ProgressBarTank1Inside {
  z-index: 69;
}

#MainPageContent_ProgressBarTank1Inside .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank1Inside .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_ProgressBarTank1Inside .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1Inside .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank1Inside .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank1Inside .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank1Inside {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1Inside .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank2Inside {
  top: 120px;
  position: absolute;
}

#MainPageContent_ProgressBarTank2Inside {
  left: 460px;
  position: absolute;
}

#MainPageContent_ProgressBarTank2Inside {
  width: 24px;
}

#MainPageContent_ProgressBarTank2Inside {
  height: 218px;
}

#MainPageContent_ProgressBarTank2Inside {
  z-index: 35;
}

#MainPageContent_ProgressBarTank2Inside .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank2Inside .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_ProgressBarTank2Inside .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank2Inside .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank2Inside .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank2Inside .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank2Inside {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank2Inside .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_Line22 {
  z-index: 36;
}

#MainPageContent_Line22 line {
  stroke-width: 3px;
}

#MainPageContent_Line23 {
  z-index: 37;
}

#MainPageContent_Line23 line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle1 {
  width: 100px;
}

#MainPageContent_Rectangle1 {
  top: 382px;
  position: absolute;
}

#MainPageContent_Rectangle1 {
  left: 480px;
  position: absolute;
}

#MainPageContent_Rectangle1 {
  height: 60px;
}

#MainPageContent_Rectangle1 {
  z-index: 38;
}

#MainPageContent_Rectangle1 {
  border-width: 0px 4px 0px 4px;
}

#MainPageContent_Rectangle1 {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_Rectangle2 {
  width: 100px;
}

#MainPageContent_Rectangle2 {
  top: 382px;
  position: absolute;
}

#MainPageContent_Rectangle2 {
  left: 164px;
  position: absolute;
}

#MainPageContent_Rectangle2 {
  height: 60px;
}

#MainPageContent_Rectangle2 {
  z-index: 39;
}

#MainPageContent_Rectangle2 {
  border-width: 0px 4px 0px 4px;
}

#MainPageContent_Rectangle2 {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_Line24 {
  z-index: 40;
}

#MainPageContent_Line24 line {
  stroke-width: 3px;
}

#MainPageContent_Line25 {
  z-index: 41;
}

#MainPageContent_Line25 line {
  stroke-width: 3px;
}

#MainPageContent_Line26 {
  z-index: 42;
}

#MainPageContent_Line26 line {
  stroke-width: 3px;
}

#MainPageContent_Line27 {
  z-index: 43;
}

#MainPageContent_Line27 line {
  stroke-width: 3px;
}

#MainPageContent_PrgBarTank2Right2 {
  top: 400px;
  position: absolute;
}

#MainPageContent_PrgBarTank2Right2 {
  left: 580px;
  position: absolute;
}

#MainPageContent_PrgBarTank2Right2 {
  width: 40px;
}

#MainPageContent_PrgBarTank2Right2 {
  height: 24px;
}

#MainPageContent_PrgBarTank2Right2 {
  z-index: 44;
}

#MainPageContent_PrgBarTank2Right2 .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank2Right2 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank2Right2 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right2 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_PrgBarTank2Right2 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank2Right2 .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank2Right2 {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank2Right2 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left3 {
  top: 400px;
  position: absolute;
}

#MainPageContent_PrgBarTank1Left3 {
  left: 264px;
  position: absolute;
}

#MainPageContent_PrgBarTank1Left3 {
  width: 44px;
}

#MainPageContent_PrgBarTank1Left3 {
  height: 24px;
}

#MainPageContent_PrgBarTank1Left3 {
  z-index: 45;
}

#MainPageContent_PrgBarTank1Left3 .pb-bar-container {
  border-style: none;
}

#MainPageContent_PrgBarTank1Left3 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_PrgBarTank1Left3 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left3 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_PrgBarTank1Left3 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_PrgBarTank1Left3 .pb-outer-area {
  border-style: none;
}

#MainPageContent_PrgBarTank1Left3 {
  border-radius: 0px;
}

#MainPageContent_PrgBarTank1Left3 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_Line28 {
  z-index: 46;
}

#MainPageContent_Line28 line {
  stroke-width: 3px;
}

#MainPageContent_Line29 {
  z-index: 47;
}

#MainPageContent_Line29 line {
  stroke-width: 3px;
}

#MainPageContent_Line30 {
  z-index: 48;
}

#MainPageContent_Line30 line {
  stroke-width: 3px;
}

#MainPageContent_Line31 {
  z-index: 49;
}

#MainPageContent_Line31 line {
  stroke-width: 3px;
}

#MainPageContent_Line32 {
  z-index: 50;
}

#MainPageContent_Line32 line {
  stroke-width: 3px;
}

#MainPageContent_Line33 {
  z-index: 51;
}

#MainPageContent_Line33 line {
  stroke-width: 3px;
}

#MainPageContent_Line34 {
  z-index: 52;
}

#MainPageContent_Line34 line {
  stroke-width: 3px;
}

#MainPageContent_Line35 {
  z-index: 53;
}

#MainPageContent_Line35 line {
  stroke-width: 3px;
}

#MainPageContent_Line36 {
  z-index: 54;
}

#MainPageContent_Line36 line {
  stroke-width: 3px;
}

#MainPageContent_Line37 {
  z-index: 55;
}

#MainPageContent_Line37 line {
  stroke-width: 3px;
}

#MainPageContent_Line38 {
  z-index: 56;
}

#MainPageContent_Line38 line {
  stroke-width: 3px;
}

#MainPageContent_Line39 {
  z-index: 57;
}

#MainPageContent_Line39 line {
  stroke-width: 3px;
}

#MainPageContent_Line40 {
  z-index: 58;
}

#MainPageContent_Line40 line {
  stroke-width: 3px;
}

#MainPageContent_Line41 {
  z-index: 59;
}

#MainPageContent_Line41 line {
  stroke-width: 3px;
}

#MainPageContent_Line42 {
  z-index: 60;
}

#MainPageContent_Line42 line {
  stroke-width: 3px;
}

#MainPageContent_Line43 {
  z-index: 61;
}

#MainPageContent_Line43 line {
  stroke-width: 3px;
}

#MainPageContent_ProgressBarTank3Sink1 {
  top: 752px;
  position: absolute;
}

#MainPageContent_ProgressBarTank3Sink1 {
  left: 355px;
  position: absolute;
}

#MainPageContent_ProgressBarTank3Sink1 {
  width: 30px;
}

#MainPageContent_ProgressBarTank3Sink1 {
  height: 38px;
}

#MainPageContent_ProgressBarTank3Sink1 {
  z-index: 62;
}

#MainPageContent_ProgressBarTank3Sink1 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank3Sink1 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_ProgressBarTank3Sink1 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank3Sink1 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank3Sink1 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank3Sink1 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank3Sink1 {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank3Sink1 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_Line44 {
  z-index: 63;
}

#MainPageContent_Line44 line {
  stroke-width: 3px;
}

#MainPageContent_Line45 {
  z-index: 64;
}

#MainPageContent_Line45 line {
  stroke-width: 3px;
}

#MainPageContent_Line46 {
  z-index: 65;
}

#MainPageContent_Line46 line {
  stroke-width: 3px;
}

#MainPageContent_Line47 {
  z-index: 66;
}

#MainPageContent_Line47 line {
  stroke-width: 3px;
}

#MainPageContent_Line48 {
  z-index: 67;
}

#MainPageContent_Line48 line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle3 {
  width: 100px;
}

#MainPageContent_Rectangle3 {
  top: 382px;
  position: absolute;
}

#MainPageContent_Rectangle3 {
  left: 480px;
  position: absolute;
}

#MainPageContent_Rectangle3 {
  height: 60px;
}

#MainPageContent_Rectangle3 {
  z-index: 68;
}

#MainPageContent_Rectangle3 {
  border-width: 0px 4px 0px 4px;
}

#MainPageContent_Rectangle3 {
  border-color: lime;
}

#MainPageContent_Rectangle3 {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_Line49 {
  z-index: 70;
}

#MainPageContent_Line49 line {
  stroke: lime;
}

#MainPageContent_Line49 line {
  stroke-width: 3px;
}

#MainPageContent_Line50 {
  z-index: 71;
}

#MainPageContent_Line50 line {
  stroke: lime;
}

#MainPageContent_Line50 line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle4 {
  width: 100px;
}

#MainPageContent_Rectangle4 {
  top: 382px;
  position: absolute;
}

#MainPageContent_Rectangle4 {
  left: 164px;
  position: absolute;
}

#MainPageContent_Rectangle4 {
  height: 60px;
}

#MainPageContent_Rectangle4 {
  z-index: 72;
}

#MainPageContent_Rectangle4 {
  border-width: 0px 4px 0px 4px;
}

#MainPageContent_Rectangle4 {
  border-color: lime;
}

#MainPageContent_Rectangle4 {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_Line51 {
  z-index: 73;
}

#MainPageContent_Line51 line {
  stroke: lime;
}

#MainPageContent_Line51 line {
  stroke-width: 3px;
}

#MainPageContent_Line52 {
  z-index: 74;
}

#MainPageContent_Line52 line {
  stroke: lime;
}

#MainPageContent_Line52 line {
  stroke-width: 3px;
}

#MainPageContent_LabelMixer {
  top: 443px;
  position: absolute;
}

#MainPageContent_LabelMixer {
  left: 342px;
  position: absolute;
}

#MainPageContent_LabelMixer {
  width: 60px;
}

#MainPageContent_LabelMixer {
  height: 60px;
}

#MainPageContent_LabelMixer {
  z-index: 75;
}

#MainPageContent_LabelMixer {
  border-width: 3px;
}

#MainPageContent_LabelMixer {
  border-radius: 40px;
}

#MainPageContent_LabelMixer {
  background-color: red;
}

#MainPageContent_LabelMixer {
  border-color: black;
}

#MainPageContent_LabelMixer:before {
  border-color: black;
}

#MainPageContent_LabelMixer:after {
  border-color: black;
}

#MainPageContent_LabelMixer {
  border-style: solid;
}

#MainPageContent_LabelMixer:before {
  border-style: solid;
}

#MainPageContent_LabelMixer:after {
  border-style: solid;
}

#MainPageContent_LabelMixer {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_LabelMixer {
  font-size: 30px;
}

#MainPageContent_LabelMixer {
  font-weight: bold;
}

#MainPageContent_LabelMixer span {
  padding: 0px;
}

#MainPageContent_Line53 {
  z-index: 76;
}

#MainPageContent_Line53 line {
  stroke-width: 3px;
}

#MainPageContent_Line54 {
  z-index: 114;
}

#MainPageContent_Line54 line {
  stroke-width: 3px;
}

#MainPageContent_Line55 {
  z-index: 77;
}

#MainPageContent_Line55 line {
  stroke-width: 3px;
}

#MainPageContent_Line56 {
  z-index: 78;
}

#MainPageContent_Line56 line {
  stroke-width: 3px;
}

#MainPageContent_Label2 {
  height: 30px;
}

#MainPageContent_Label2 {
  top: 140px;
  position: absolute;
}

#MainPageContent_Label2 {
  left: 760px;
  position: absolute;
}

#MainPageContent_Label2 {
  width: 300px;
}

#MainPageContent_Label2 {
  z-index: 79;
}

#MainPageContent_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_Label2 {
  font-size: 20px;
}

#MainPageContent_Label2 {
  font-weight: bold;
}

#MainPageContent_Label2 span {
  padding: 0px;
}

#MainPageContent_RadioButtonGroupValvesVariant {
  top: 160px;
  position: absolute;
}

#MainPageContent_RadioButtonGroupValvesVariant {
  left: 780px;
  position: absolute;
}

#MainPageContent_RadioButtonGroupValvesVariant {
  width: 260px;
}

#MainPageContent_RadioButtonGroupValvesVariant {
  height: 160px;
}

#MainPageContent_RadioButtonGroupValvesVariant {
  z-index: 80;
}

#MainPageContent_RadioButtonBooleanValves {
  top: 20px;
  position: absolute;
}

#MainPageContent_RadioButtonBooleanValves {
  left: 10px;
  position: absolute;
}

#MainPageContent_RadioButtonBooleanValves {
  width: 250px;
}

#MainPageContent_RadioButtonBooleanValves {
  height: 45px;
}

#MainPageContent_RadioButtonBooleanValves {
  z-index: 0;
}

#MainPageContent_RadioButtonBooleanValves span {
  text-align: left;
}

#MainPageContent_RadioButtonBooleanValves span {
  font-size: 18px;
}

#MainPageContent_RadioButtonAnalogValves {
  top: 40px;
  position: absolute;
}

#MainPageContent_RadioButtonAnalogValves {
  left: 10px;
  position: absolute;
}

#MainPageContent_RadioButtonAnalogValves {
  width: 250px;
}

#MainPageContent_RadioButtonAnalogValves {
  height: 45px;
}

#MainPageContent_RadioButtonAnalogValves {
  z-index: 1;
}

#MainPageContent_RadioButtonAnalogValves span {
  text-align: left;
}

#MainPageContent_RadioButtonAnalogValves span {
  font-size: 18px;
}

#MainPageContent_NumericOutputTank1Level {
  top: 700px;
  position: absolute;
}

#MainPageContent_NumericOutputTank1Level {
  left: 745px;
  position: absolute;
}

#MainPageContent_NumericOutputTank1Level {
  width: 140px;
}

#MainPageContent_NumericOutputTank1Level {
  height: 40px;
}

#MainPageContent_NumericOutputTank1Level {
  z-index: 81;
}

#MainPageContent_NumericOutputTank1Level .breaseNumericOutput_unit {
  font-size: 20px;
}

#MainPageContent_NumericOutputTank2Level {
  top: 760px;
  position: absolute;
}

#MainPageContent_NumericOutputTank2Level {
  left: 745px;
  position: absolute;
}

#MainPageContent_NumericOutputTank2Level {
  width: 140px;
}

#MainPageContent_NumericOutputTank2Level {
  height: 40px;
}

#MainPageContent_NumericOutputTank2Level {
  z-index: 82;
}

#MainPageContent_NumericOutputTank2Level .breaseNumericOutput_unit {
  font-size: 20px;
}

#MainPageContent_NumericOutputTank3Level {
  top: 820px;
  position: absolute;
}

#MainPageContent_NumericOutputTank3Level {
  left: 745px;
  position: absolute;
}

#MainPageContent_NumericOutputTank3Level {
  width: 140px;
}

#MainPageContent_NumericOutputTank3Level {
  height: 40px;
}

#MainPageContent_NumericOutputTank3Level {
  z-index: 83;
}

#MainPageContent_NumericOutputTank3Level .breaseNumericOutput_unit {
  font-size: 20px;
}

#MainPageContent_ToggleButtonValveTank1 {
  top: 340px;
  position: absolute;
}

#MainPageContent_ToggleButtonValveTank1 {
  left: 780px;
  position: absolute;
}

#MainPageContent_ToggleButtonValveTank1 {
  width: 60px;
}

#MainPageContent_ToggleButtonValveTank1 {
  height: 60px;
}

#MainPageContent_ToggleButtonValveTank1 {
  z-index: 84;
}

#MainPageContent_ToggleButtonValveTank1:not(.active):not(.checked) {
  border-width: 3px;
}

#MainPageContent_ToggleButtonValveTank1.disabled {
  border-width: 3px;
}

#MainPageContent_ToggleButtonValveTank1 {
  border-radius: 30px;
}

#MainPageContent_ToggleButtonValveTank1:not(.disabled):not(.active):not(.checked) {
  background-color: red;
}

#MainPageContent_ToggleButtonValveTank1.disabled:not(.checked) {
  background-color: red;
}

#MainPageContent_ToggleButtonValveTank1:not(.disabled):not(.checked) {
  border-color: black;
}

#MainPageContent_ToggleButtonValveTank1.disabled:not(.active):not(.checked) {
  border-color: black;
}

#MainPageContent_ToggleButtonValveTank1.checked:not(.active):not(.disabled) {
  background-color: lime;
}

#MainPageContent_ToggleButtonValveTank1.checked:not(.active):not(.disabled) {
  border-color: lightgray;
}

#MainPageContent_ToggleButtonValveTank1.disabled.checked {
  background-color: lime;
}

#MainPageContent_ToggleButtonValveTank1.disabled.checked {
  border-color: black;
}

#MainPageContent_ToggleButtonValve3 {
  top: 500px;
  position: absolute;
}

#MainPageContent_ToggleButtonValve3 {
  left: 780px;
  position: absolute;
}

#MainPageContent_ToggleButtonValve3 {
  width: 60px;
}

#MainPageContent_ToggleButtonValve3 {
  height: 60px;
}

#MainPageContent_ToggleButtonValve3 {
  z-index: 85;
}

#MainPageContent_ToggleButtonValve3:not(.active):not(.checked) {
  border-width: 3px;
}

#MainPageContent_ToggleButtonValve3.disabled {
  border-width: 3px;
}

#MainPageContent_ToggleButtonValve3 {
  border-radius: 30px;
}

#MainPageContent_ToggleButtonValve3:not(.disabled):not(.active):not(.checked) {
  background-color: red;
}

#MainPageContent_ToggleButtonValve3.disabled:not(.checked) {
  background-color: red;
}

#MainPageContent_ToggleButtonValve3:not(.disabled):not(.checked) {
  border-color: black;
}

#MainPageContent_ToggleButtonValve3.disabled:not(.active):not(.checked) {
  border-color: black;
}

#MainPageContent_ToggleButtonValve3.checked:not(.active):not(.disabled) {
  background-color: lime;
}

#MainPageContent_ToggleButtonValve3.checked:not(.active):not(.disabled) {
  border-color: lightgray;
}

#MainPageContent_ToggleButtonValve3.disabled.checked {
  background-color: lime;
}

#MainPageContent_ToggleButtonValve3.disabled.checked {
  border-color: black;
}

#MainPageContent_ToggleButtonValveTank2 {
  top: 420px;
  position: absolute;
}

#MainPageContent_ToggleButtonValveTank2 {
  left: 780px;
  position: absolute;
}

#MainPageContent_ToggleButtonValveTank2 {
  width: 60px;
}

#MainPageContent_ToggleButtonValveTank2 {
  height: 60px;
}

#MainPageContent_ToggleButtonValveTank2 {
  z-index: 86;
}

#MainPageContent_ToggleButtonValveTank2:not(.active):not(.checked) {
  border-width: 3px;
}

#MainPageContent_ToggleButtonValveTank2.disabled {
  border-width: 3px;
}

#MainPageContent_ToggleButtonValveTank2 {
  border-radius: 30px;
}

#MainPageContent_ToggleButtonValveTank2:not(.disabled):not(.active):not(.checked) {
  background-color: red;
}

#MainPageContent_ToggleButtonValveTank2.disabled:not(.checked) {
  background-color: red;
}

#MainPageContent_ToggleButtonValveTank2:not(.disabled):not(.checked) {
  border-color: black;
}

#MainPageContent_ToggleButtonValveTank2.disabled:not(.active):not(.checked) {
  border-color: black;
}

#MainPageContent_ToggleButtonValveTank2.checked:not(.active):not(.disabled) {
  background-color: lime;
}

#MainPageContent_ToggleButtonValveTank2.checked:not(.active):not(.disabled) {
  border-color: lightgray;
}

#MainPageContent_ToggleButtonValveTank2.disabled.checked {
  background-color: lime;
}

#MainPageContent_ToggleButtonValveTank2.disabled.checked {
  border-color: black;
}

#MainPageContent_ToggleButtonMixer {
  top: 580px;
  position: absolute;
}

#MainPageContent_ToggleButtonMixer {
  left: 780px;
  position: absolute;
}

#MainPageContent_ToggleButtonMixer {
  width: 60px;
}

#MainPageContent_ToggleButtonMixer {
  height: 60px;
}

#MainPageContent_ToggleButtonMixer {
  z-index: 87;
}

#MainPageContent_ToggleButtonMixer:not(.active):not(.checked) {
  border-width: 3px;
}

#MainPageContent_ToggleButtonMixer.disabled {
  border-width: 3px;
}

#MainPageContent_ToggleButtonMixer {
  border-radius: 30px;
}

#MainPageContent_ToggleButtonMixer:not(.disabled):not(.active):not(.checked) {
  background-color: red;
}

#MainPageContent_ToggleButtonMixer.disabled:not(.checked) {
  background-color: red;
}

#MainPageContent_ToggleButtonMixer:not(.disabled):not(.checked) {
  border-color: black;
}

#MainPageContent_ToggleButtonMixer.disabled:not(.active):not(.checked) {
  border-color: black;
}

#MainPageContent_ToggleButtonMixer.checked:not(.active):not(.disabled) {
  background-color: lime;
}

#MainPageContent_ToggleButtonMixer.checked:not(.active):not(.disabled) {
  border-color: lightgray;
}

#MainPageContent_ToggleButtonMixer.disabled.checked {
  background-color: lime;
}

#MainPageContent_ToggleButtonMixer.disabled.checked {
  border-color: black;
}

#MainPageContent_Label3 {
  top: 350px;
  position: absolute;
}

#MainPageContent_Label3 {
  left: 850px;
  position: absolute;
}

#MainPageContent_Label3 {
  width: 230px;
}

#MainPageContent_Label3 {
  height: 40px;
}

#MainPageContent_Label3 {
  z-index: 88;
}

#MainPageContent_Label3 {
  font-size: 18px;
}

#MainPageContent_Label3 {
  font-weight: bold;
}

#MainPageContent_Label4 {
  top: 430px;
  position: absolute;
}

#MainPageContent_Label4 {
  left: 850px;
  position: absolute;
}

#MainPageContent_Label4 {
  width: 230px;
}

#MainPageContent_Label4 {
  height: 40px;
}

#MainPageContent_Label4 {
  z-index: 89;
}

#MainPageContent_Label4 {
  font-size: 18px;
}

#MainPageContent_Label4 {
  font-weight: bold;
}

#MainPageContent_Label5 {
  top: 510px;
  position: absolute;
}

#MainPageContent_Label5 {
  left: 850px;
  position: absolute;
}

#MainPageContent_Label5 {
  width: 230px;
}

#MainPageContent_Label5 {
  height: 40px;
}

#MainPageContent_Label5 {
  z-index: 90;
}

#MainPageContent_Label5 {
  font-size: 18px;
}

#MainPageContent_Label5 {
  font-weight: bold;
}

#MainPageContent_Label6 {
  top: 590px;
  position: absolute;
}

#MainPageContent_Label6 {
  left: 850px;
  position: absolute;
}

#MainPageContent_Label6 {
  width: 230px;
}

#MainPageContent_Label6 {
  height: 40px;
}

#MainPageContent_Label6 {
  z-index: 91;
}

#MainPageContent_Label6 {
  font-size: 18px;
}

#MainPageContent_Label6 {
  font-weight: bold;
}

#MainPageContent_Label7 {
  top: 660px;
  position: absolute;
}

#MainPageContent_Label7 {
  left: 745px;
  position: absolute;
}

#MainPageContent_Label7 {
  width: 140px;
}

#MainPageContent_Label7 {
  height: 40px;
}

#MainPageContent_Label7 {
  z-index: 92;
}

#MainPageContent_Label7 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_Label7 {
  font-size: 20px;
}

#MainPageContent_Label7 {
  font-weight: bold;
}

#MainPageContent_LabelTank1Level {
  top: 700px;
  position: absolute;
}

#MainPageContent_LabelTank1Level {
  left: 880px;
  position: absolute;
}

#MainPageContent_LabelTank1Level {
  width: 140px;
}

#MainPageContent_LabelTank1Level {
  height: 40px;
}

#MainPageContent_LabelTank1Level {
  z-index: 93;
}

#MainPageContent_LabelTank1Level {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_LabelTank1Level {
  font-size: 18px;
}

#MainPageContent_LabelTank1Level {
  font-weight: bold;
}

#MainPageContent_LabelTank2Level {
  top: 760px;
  position: absolute;
}

#MainPageContent_LabelTank2Level {
  left: 880px;
  position: absolute;
}

#MainPageContent_LabelTank2Level {
  width: 140px;
}

#MainPageContent_LabelTank2Level {
  height: 40px;
}

#MainPageContent_LabelTank2Level {
  z-index: 94;
}

#MainPageContent_LabelTank2Level {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_LabelTank2Level {
  font-size: 18px;
}

#MainPageContent_LabelTank2Level {
  font-weight: bold;
}

#MainPageContent_LabelTank3Level {
  top: 820px;
  position: absolute;
}

#MainPageContent_LabelTank3Level {
  left: 880px;
  position: absolute;
}

#MainPageContent_LabelTank3Level {
  width: 140px;
}

#MainPageContent_LabelTank3Level {
  height: 40px;
}

#MainPageContent_LabelTank3Level {
  z-index: 95;
}

#MainPageContent_LabelTank3Level {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_LabelTank3Level {
  font-size: 18px;
}

#MainPageContent_LabelTank3Level {
  font-weight: bold;
}

#MainPageContent_LabelMixerGreen {
  top: 443px;
  position: absolute;
}

#MainPageContent_LabelMixerGreen {
  left: 342px;
  position: absolute;
}

#MainPageContent_LabelMixerGreen {
  width: 60px;
}

#MainPageContent_LabelMixerGreen {
  height: 60px;
}

#MainPageContent_LabelMixerGreen {
  z-index: 128;
}

#MainPageContent_LabelMixerGreen {
  border-width: 3px;
}

#MainPageContent_LabelMixerGreen {
  border-radius: 40px;
}

#MainPageContent_LabelMixerGreen {
  background-color: lime;
}

#MainPageContent_LabelMixerGreen {
  border-color: black;
}

#MainPageContent_LabelMixerGreen:before {
  border-color: black;
}

#MainPageContent_LabelMixerGreen:after {
  border-color: black;
}

#MainPageContent_LabelMixerGreen {
  border-style: solid;
}

#MainPageContent_LabelMixerGreen:before {
  border-style: solid;
}

#MainPageContent_LabelMixerGreen:after {
  border-style: solid;
}

#MainPageContent_LabelMixerGreen span {
  color: black;
}

#MainPageContent_LabelMixerGreen {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_LabelMixerGreen {
  font-size: 30px;
}

#MainPageContent_LabelMixerGreen {
  font-weight: bold;
}

#MainPageContent_LabelMixerGreen span {
  padding: 0px;
}

#MainPageContent_MixerAxis {
  z-index: 96;
}

#MainPageContent_MixerAxis line {
  stroke-width: 3px;
}

#MainPageContent_MixerFrame {
  top: 573px;
  position: absolute;
}

#MainPageContent_MixerFrame {
  left: 280px;
  position: absolute;
}

#MainPageContent_MixerFrame {
  width: 180px;
}

#MainPageContent_MixerFrame {
  height: 160px;
}

#MainPageContent_MixerFrame {
  z-index: 97;
}

#MainPageContent_MixerFrame {
  border-width: 3px;
}

#MainPageContent_MixerFrame {
  background-color: rgba(255, 136, 0, 0);
}

#MainPageContent_MixerMiddle {
  z-index: 98;
}

#MainPageContent_MixerMiddle line {
  stroke-width: 3px;
}

#MainPageContent_MixerBottom {
  z-index: 99;
}

#MainPageContent_MixerBottom line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle5 {
  top: 790px;
  position: absolute;
}

#MainPageContent_Rectangle5 {
  left: 340px;
  position: absolute;
}

#MainPageContent_Rectangle5 {
  width: 60px;
}

#MainPageContent_Rectangle5 {
  height: 80px;
}

#MainPageContent_Rectangle5 {
  z-index: 100;
}

#MainPageContent_Rectangle5 {
  border-width: 3px 0px 3px 0px;
}

#MainPageContent_Rectangle5 {
  background-color: rgba(255, 136, 0, 0);
}

#MainPageContent_Line57 {
  z-index: 101;
}

#MainPageContent_Line57 line {
  stroke-width: 3px;
}

#MainPageContent_Line58 {
  z-index: 102;
}

#MainPageContent_Line58 line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle6 {
  top: 790px;
  position: absolute;
}

#MainPageContent_Rectangle6 {
  left: 340px;
  position: absolute;
}

#MainPageContent_Rectangle6 {
  width: 60px;
}

#MainPageContent_Rectangle6 {
  height: 80px;
}

#MainPageContent_Rectangle6 {
  z-index: 103;
}

#MainPageContent_Rectangle6 {
  border-width: 3px 0px 3px 0px;
}

#MainPageContent_Rectangle6 {
  border-color: lime;
}

#MainPageContent_Rectangle6 {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_Line59 {
  z-index: 104;
}

#MainPageContent_Line59 line {
  stroke: lime;
}

#MainPageContent_Line59 line {
  stroke-width: 3px;
}

#MainPageContent_Line60 {
  z-index: 105;
}

#MainPageContent_Line60 line {
  stroke: lime;
}

#MainPageContent_Line60 line {
  stroke-width: 3px;
}

#MainPageContent_ProgressBarTank3Sink2 {
  top: 870px;
  position: absolute;
}

#MainPageContent_ProgressBarTank3Sink2 {
  left: 355px;
  position: absolute;
}

#MainPageContent_ProgressBarTank3Sink2 {
  width: 30px;
}

#MainPageContent_ProgressBarTank3Sink2 {
  height: 30px;
}

#MainPageContent_ProgressBarTank3Sink2 {
  z-index: 106;
}

#MainPageContent_ProgressBarTank3Sink2 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank3Sink2 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_ProgressBarTank3Sink2 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank3Sink2 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank3Sink2 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank3Sink2 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank3Sink2 {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank3Sink2 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_Line61 {
  z-index: 107;
}

#MainPageContent_Line61 line {
  stroke-width: 3px;
}

#MainPageContent_Line62 {
  z-index: 108;
}

#MainPageContent_Line62 line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle7 {
  top: 25px;
  position: absolute;
}

#MainPageContent_Rectangle7 {
  left: 242px;
  position: absolute;
}

#MainPageContent_Rectangle7 {
  width: 60px;
}

#MainPageContent_Rectangle7 {
  height: 80px;
}

#MainPageContent_Rectangle7 {
  z-index: 109;
}

#MainPageContent_Rectangle7 {
  border-width: 3px 0px 3px 0px;
}

#MainPageContent_Rectangle7 {
  background-color: rgba(255, 136, 0, 0);
}

#MainPageContent_Line63 {
  z-index: 110;
}

#MainPageContent_Line63 line {
  stroke-width: 3px;
}

#MainPageContent_Line64 {
  z-index: 111;
}

#MainPageContent_Line64 line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle8 {
  top: 25px;
  position: absolute;
}

#MainPageContent_Rectangle8 {
  left: 242px;
  position: absolute;
}

#MainPageContent_Rectangle8 {
  width: 60px;
}

#MainPageContent_Rectangle8 {
  height: 80px;
}

#MainPageContent_Rectangle8 {
  z-index: 112;
}

#MainPageContent_Rectangle8 {
  border-width: 3px 0px 3px 0px;
}

#MainPageContent_Rectangle8 {
  border-color: lime;
}

#MainPageContent_Rectangle8 {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_Line65 {
  z-index: 113;
}

#MainPageContent_Line65 line {
  stroke: lime;
}

#MainPageContent_Line65 line {
  stroke-width: 3px;
}

#MainPageContent_Line66 {
  z-index: 115;
}

#MainPageContent_Line66 line {
  stroke: lime;
}

#MainPageContent_Line66 line {
  stroke-width: 3px;
}

#MainPageContent_ProgressBarTank1Top2 {
  top: 105px;
  position: absolute;
}

#MainPageContent_ProgressBarTank1Top2 {
  left: 260px;
  position: absolute;
}

#MainPageContent_ProgressBarTank1Top2 {
  width: 24px;
}

#MainPageContent_ProgressBarTank1Top2 {
  height: 15px;
}

#MainPageContent_ProgressBarTank1Top2 {
  z-index: 125;
}

#MainPageContent_ProgressBarTank1Top2 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank1Top2 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_ProgressBarTank1Top2 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1Top2 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank1Top2 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank1Top2 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank1Top2 {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank1Top2 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_Line67 {
  z-index: 126;
}

#MainPageContent_Line67 line {
  stroke-width: 3px;
}

#MainPageContent_Line68 {
  z-index: 127;
}

#MainPageContent_Line68 line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle9 {
  top: 25px;
  position: absolute;
}

#MainPageContent_Rectangle9 {
  left: 442px;
  position: absolute;
}

#MainPageContent_Rectangle9 {
  width: 60px;
}

#MainPageContent_Rectangle9 {
  height: 80px;
}

#MainPageContent_Rectangle9 {
  z-index: 116;
}

#MainPageContent_Rectangle9 {
  border-width: 3px 0px 3px 0px;
}

#MainPageContent_Rectangle9 {
  background-color: rgba(255, 136, 0, 0);
}

#MainPageContent_Line69 {
  z-index: 117;
}

#MainPageContent_Line69 line {
  stroke-width: 3px;
}

#MainPageContent_Line70 {
  z-index: 118;
}

#MainPageContent_Line70 line {
  stroke-width: 3px;
}

#MainPageContent_Rectangle10 {
  top: 25px;
  position: absolute;
}

#MainPageContent_Rectangle10 {
  left: 442px;
  position: absolute;
}

#MainPageContent_Rectangle10 {
  width: 60px;
}

#MainPageContent_Rectangle10 {
  height: 80px;
}

#MainPageContent_Rectangle10 {
  z-index: 119;
}

#MainPageContent_Rectangle10 {
  border-width: 3px 0px 3px 0px;
}

#MainPageContent_Rectangle10 {
  border-color: lime;
}

#MainPageContent_Rectangle10 {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_Line71 {
  z-index: 120;
}

#MainPageContent_Line71 line {
  stroke: lime;
}

#MainPageContent_Line71 line {
  stroke-width: 3px;
}

#MainPageContent_Line72 {
  z-index: 121;
}

#MainPageContent_Line72 line {
  stroke: lime;
}

#MainPageContent_Line72 line {
  stroke-width: 3px;
}

#MainPageContent_Line73 {
  z-index: 123;
}

#MainPageContent_Line73 line {
  stroke-width: 3px;
}

#MainPageContent_Line74 {
  z-index: 124;
}

#MainPageContent_Line74 line {
  stroke-width: 3px;
}

#MainPageContent_ProgressBarTank2Top2 {
  top: 105px;
  position: absolute;
}

#MainPageContent_ProgressBarTank2Top2 {
  left: 460px;
  position: absolute;
}

#MainPageContent_ProgressBarTank2Top2 {
  width: 24px;
}

#MainPageContent_ProgressBarTank2Top2 {
  height: 15px;
}

#MainPageContent_ProgressBarTank2Top2 {
  z-index: 122;
}

#MainPageContent_ProgressBarTank2Top2 .pb-bar-container {
  border-style: none;
}

#MainPageContent_ProgressBarTank2Top2 .pb-bar-container {
  border-width: 1px;
}

#MainPageContent_ProgressBarTank2Top2 .pb-bar-container {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank2Top2 .pb-bar-container {
  background-color: lightgray;
}

#MainPageContent_ProgressBarTank2Top2 .pb-progress {
  background-color: dodgerblue;
}

#MainPageContent_ProgressBarTank2Top2 .pb-outer-area {
  border-style: none;
}

#MainPageContent_ProgressBarTank2Top2 {
  border-radius: 0px;
}

#MainPageContent_ProgressBarTank2Top2 .pb-outer-area {
  border-radius: 0px;
}

#MainPageContent_RightValveNumericOutput {
  height: 30px;
}

#MainPageContent_RightValveNumericOutput {
  top: 440px;
  position: absolute;
}

#MainPageContent_RightValveNumericOutput {
  left: 500px;
  position: absolute;
}

#MainPageContent_RightValveNumericOutput {
  width: 70px;
}

#MainPageContent_RightValveNumericOutput {
  z-index: 0;
}

#MainPageContent_RightValveNumericOutput {
  border-width: 0px;
}

#MainPageContent_RightValveNumericOutput {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_RightValveNumericOutput input {
  justify-content: flex-end;
  text-align: right;
}

#MainPageContent_RightValveNumericOutput .breaseNumericOutput_unit {
  font-size: 20px;
}

#MainPageContent_RightValveNumericOutput input {
  font-style: normal;
}

#MainPageContent_RightValveNumericOutput {
  padding: 0px 0px 0px 0px;
}

#MainPageContent_LeftValveNumericOutput {
  height: 30px;
}

#MainPageContent_LeftValveNumericOutput {
  top: 440px;
  position: absolute;
}

#MainPageContent_LeftValveNumericOutput {
  left: 180px;
  position: absolute;
}

#MainPageContent_LeftValveNumericOutput {
  width: 70px;
}

#MainPageContent_LeftValveNumericOutput {
  z-index: 129;
}

#MainPageContent_LeftValveNumericOutput {
  border-width: 0px;
}

#MainPageContent_LeftValveNumericOutput {
  background-color: rgba(255, 255, 255, 0);
}

#MainPageContent_LeftValveNumericOutput input {
  justify-content: flex-end;
  text-align: right;
}

#MainPageContent_LeftValveNumericOutput .breaseNumericOutput_unit {
  font-size: 20px;
}

#MainPageContent_LeftValveNumericOutput {
  padding: 0px 0px 0px 0px;
}
