@import "mixins.scss";
@mixin widgets_brease_TextPicker_base {
	@include elemWidth(150);
	@include elemHeight(150);
	border-width: 2px;
	border-style: solid;
	@include border-radius(0px);
&:not(.disabled) {
	background-color: #FFF;
}
&:not(.disabled) {
	@include backGroundGradient('');
}
&:not(.disabled) {
	border-color: #535353;
}
	opacity: 1;
#textWheel div.itemFragment div span {
	font-size: 12px;
}
#textWheel div.itemFragment div span {
	font-family: Arial;
}
#textWheel div.itemFragment div span {
	@include font-weight-bold(false);
}
#textWheel div.itemFragment div span {
	@include font-style-italic(false);
}
	margin: 0px;
&.disabled {
	background-color: #f1f1f1;
}
&.disabled {
	@include backGroundGradient('');
}
&.disabled {
	border-color: #535353;
}
#textWheel div.marker {
	height: 2px;
}
&:not(.disabled) #textWheel div.marker {
	background-color: #F80;
}
&.disabled #textWheel div.marker {
	background-color: #e0e0e0;
}
&:not(.disabled) #textWheel div.itemFragment div:not(.selected) span {
	color: #000;
}
&:not(.disabled) #textWheel div.itemFragment div.selected span {
	color: #FFF;
}
&.disabled #textWheel div.itemFragment div:not(.selected) span {
	color: #c8c8c8;
}
&.disabled #textWheel div.itemFragment div.selected span {
	color: #5b5b5b;
}
#textWheel div.itemFragment div {
	@include box-shadow(none);
}
#textWheel div.itemFragment div {
	@include border-radius(0px);
}
&:not(.disabled) #textWheel div.itemFragment div:not(.selected) {
	border-color: #535353;
}
&:not(.disabled) #textWheel div.itemFragment div.selected {
	border-color: #000000;
}
&.disabled #textWheel div.itemFragment div:not(.selected) {
	border-color: #c8c8c8;
}
&.disabled #textWheel div.itemFragment div.selected {
	border-color: #5b5b5b;
}
#textWheel div.itemFragment div:not(.selected) {
	border-width: 1px;
}
#textWheel div.itemFragment div.selected {
	border-width: 2px;
}
#textWheel div.itemFragment div {
	border-style: solid;
}
&:not(.disabled) #textWheel div.itemFragment div:not(.selected) {
	background-color: #FFF;
}
&:not(.disabled) #textWheel div.itemFragment div.selected {
	background-color: #F80;
}
&.disabled #textWheel div.itemFragment div:not(.selected) {
	background-color: #FFF;
}
&.disabled #textWheel div.itemFragment div.selected {
	background-color: #8e8e8e;
}
&:not(.disabled) #textWheel div.itemFragment div:not(.selected) {
	@include backGroundGradient('');
}
&:not(.disabled) #textWheel div.itemFragment div.selected {
	@include backGroundGradient('');
}
&.disabled #textWheel div.itemFragment div:not(.selected) {
	@include backGroundGradient('');
}
&.disabled #textWheel div.itemFragment div.selected {
	@include backGroundGradient('');
}

}

